.root{
    -fx-background-color: #3c635f;
}

.menu{
    -fx-background-color: #7d9290;
}
.button{
    -fx-background-color: #7d928c;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-size: 20.0;
}


.buttonm{
    -fx-background-color: #3c635f;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
    -fx-font-size: 20.0;
}
