.root{
    -fx-background-color: #8ab0cd;
}
.label{
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #314e21;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}

